<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/layout}"
      layout:fragment="Content">
<style>
    .product-image {
        height: 300px;
    }

    .ribbon {
        --f: 10px; /* control the folded part*/
        --r: 15px; /* control the ribbon shape */
        --t: 20px; /* the top offset */

        position: absolute;
        inset: var(--t) calc(-1*var(--f)) auto auto;
        padding: 5px 20px var(--f) calc(20px + var(--r));
        clip-path:
                polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
                calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
                var(--r) calc(50% - var(--f)/2));
        background: #f67daa;
        box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
    }


    .ribbon-box {
        position:relative;
    }

    .percent-sale {
        color: red !important;
    }

    .product-title {
        font-size: 30px;
    }

    .price {
        font-size: 20px;
    }

    .product-header-text {
        font-size: 40px !important;
        font-family: jua;
    }

    .product {
        padding: 20px 0 !important;
    }

</style>
<main>
    <section style="padding-top: 40px;">
    </section>
    <section class="product">
        <div class="container" data-aos="fade-up">
            <div class="row gy-1">
                <div class="section-header pb-0">
                    <h2 class="product-header-text"><strong>상품 목록</strong></h2>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Hero Section ======= -->
    <section id="product" class="product">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-lg-12">
                    <section id="stats-counter" class="stats-counter justify-content-center">
                        <div class="container" data-aos="fade-up">

                            <div class="row gy-4 justify-content-center align-items-center">
                                    <div class="col-lg-1.5 col-1"></div>
                                    <div class="col-lg-4 col-12">
                                        <div class="card ribbon-box">
                                            <div class="ribbon"><div><span class="percent-sale">20%</span> Sale</div></div>
                                            <!-- Product image-->
                                            <img class="card-img-top product-image" th:src="@{/assets/img/cherry/cherry2.jpeg}"/>
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder product-title">킹체리 1kg</h5>
                                                    <!-- Product price-->
                                                    <span class="text-muted text-decoration-line-through">35,000원</span>
                                                    <strong class="price">28,000원</strong>
                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상세보기</a></div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-lg-1 col-2"></div>
                                    <div class="col-lg-4 col-12">
                                        <div class="card">
                                            <!-- Sale badge-->
                                            <div class="ribbon"><div><span class="percent-sale">20%</span> Sale</div></div>
                                            <!-- Product image-->
                                            <img class="card-img-top product-image" th:src="@{/assets/img/cherry/cherry5.jpeg}" alt="..." />
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder product-title">킹체리 2kg</h5>
                                                    <!-- Product reviews-->
                                                    <!--<div class="d-flex justify-content-center small text-warning mb-2">
                                                        <div class="bi-star-fill"></div>
                                                        <div class="bi-star-fill"></div>
                                                        <div class="bi-star-fill"></div>
                                                        <div class="bi-star-fill"></div>
                                                        <div class="bi-star-fill"></div>
                                                    </div>-->
                                                    <!-- Product price-->
                                                    <span class="text-muted text-decoration-line-through">70,000원</span>
                                                    <strong class="price">56,000원</strong>
                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상세보</a></div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-1.5 col-1"></div>
                            </div>
                            </div>
                    </section><!-- End Stats Counter Section -->
                </div>
            </div>
        </div>
    </section>
    <section class="product ">
        <div class="container" data-aos="fade-up">
            <div class="row gy-1">
            </div>
        </div>
    </section>
</main><!-- End #main -->

<script th:inline="javascript">
    $(document).on('load', () => {
    })
</script>