<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/layout}"
      layout:fragment="Content">
<link th:inline="css" th:href="@{/css/product/product.css}" rel="stylesheet"/>
<style>
    main {
        background-image: url("../../assets/img/cherry/cherry13.jpeg");
        background-size: cover;
        position: relative;
        isolation: isolate;
    }

    main::after {
        content: '';
        position: absolute;
        background: white;
        z-index: -999;
        inset: 0;
        opacity: 0.73;
    }
</style>
<main>
    <section style="padding-top: 40px;">
    </section>
    <section class="product">
        <div class="container" data-aos="fade-up">
            <div class="row gy-1">
                <div class="section-header pb-0">
                    <h2 class="product-header-text"><strong>상품 목록</strong></h2>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Hero Section ======= -->
    <section id="product" class="product">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-lg-12">
                    <section id="stats-counter" class="stats-counter justify-content-center">
                        <div class="container" data-aos="fade-up">
                            <div class="row gy-4 justify-content-center align-items-center">
                                <th:block th:each="product : ${products}">
                                    <div class="col-lg-4 col-12">
                                        <div class="card ribbon-box">
                                            <div class="ribbon"><div><span class="percent-sale" th:text="${product.getSale() + '%'}"></span> Sale</div></div>
                                            <!-- Product image-->
                                            <img class="card-img-top product-image" th:src="@{/assets/img/cherry/cherry14.jpeg}"/>
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder product-title" th:text="${product.getName()}"></h5>
                                                    <!-- Product price-->
                                                    <span class="text-muted text-decoration-line-through" th:text="${#numbers.formatInteger(product.getPrice(), 3, 'COMMA') + '원'}"></span>
                                                    <strong class="price" th:text="${#numbers.formatInteger(product.getPrice() / 100 * (100 - product.getSale()), 3, 'COMMA') + '원'}"></strong>
                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="detail card-footer p-4 pt-0 border-top-0 bg-transparent" th:data="${product.getId()}">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto">상세보기</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="product ">
        <div class="container" data-aos="fade-up">
            <div class="row gy-1">
            </div>
        </div>
    </section>
</main><!-- End #main -->

<script th:src="@{/js/product/product.js}"></script>