<!DOCTYPE html>
<style>
    body {
        min-height: 100vh;

        background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
        background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
    }

    .input-form {
        max-width: 680px;

        margin-top: 80px;
        padding: 32px;

        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }

    .modal-address {
        display: none;
        position: fixed;
        z-index: 20000;
        left: 25%;
        width: 50%;
        padding: 20px;
        border: 1px solid #333;
        background-color: white;
        border-radius: 20px;
    }
    .popup-wrap {
        border: 1px solid #333;
    }

    input {
        margin: 2px;
    }

    @media screen and (max-width: 767px) {
        .modal-address-mobile {
            left: 5%;
            width: 90%;
        }
    }
</style>

<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto" style="margin: 80px 0;">
            <h4 class="mb-3">내 정보 수정 </h4>
            <div id="validation-form" class="validation-form" novalidate>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="name">이름 (최대 10자)</label>
                        <input type="text" class="form-control w-25" name="name" maxlength="10" id="name" placeholder="" value="">
                        <div class="invalid-feedback">
                            이름을 입력해주세요.
                        </div>
                        <button id="name-btn" class="btn btn-primary btn-sm btn-block" type="submit">이름 수정</button>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">주소</label>
                    <div style="display: flex">
                        <div  class="w-25">
                            <input type="text" id="postcode" placeholder="우편번호" name="postCode" class="form-control" required disabled>
                            <div class="invalid-feedback">
                                우편번호를 확인해 주세요.
                            </div>
                        </div>
                        <button id="findPost" type="button" class="btn btn-sm" style="border: 1px solid gray; margin-left: 5px">
                            우편번호 찾기
                        </button>
                    </div>
                    <div class="modal-address" id="modal-address" style="position:relative; width: 100%; left: -10px">
                        <div id="popup-wrap">
                            <!-- 우편번호 API가 띄워질 공간 -->
                        </div>
                    </div>
                    <input type="text" id="address" placeholder="주소" class="form-control col-xs-4" required disabled>
                    <div class="invalid-feedback">
                        주소를 확인해주세요.
                    </div>
                    <input type="text" id="detailAddress" placeholder="상세주소" class="form-control col-xs-4">
                    <input type="hidden" id="full-address" name="address">
                    <button id="address-btn" class="btn btn-primary btn-sm btn-block" type="submit">주소 수정</button>
                </div>

                <div class="mb-3">
                    <label for="update-password">현재 비밀번호</label>
                    <input type="password" class="form-control w-50" name="password" id="cu-password" placeholder="">
                    <label for="update-password">변경 비밀번호</label>
                    <input type="password" class="form-control w-50" name="password" id="update-password" placeholder="">
                    <label for="update-password-check">변경 비밀번호 확인</label>
                    <input type="password" class="form-control w-50" id="update-password-check" placeholder="">
                    <button id="update-password-btn" class="btn btn-primary btn-sm btn-block" type="submit">비밀번호 수정</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="my-3 text-center text-small">
    </footer>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

        $('#name-btn').on('click', () => {
            const name = $('#name').val();
            if(isEmpty(name)) {
                alert('이름을 입력해 주세요.');
                $('#name').focus();
                return;
            }
            $.ajax({
                url: "/api/v1/member/update/name",
                contentType: 'application/json; charset=utf-8',
                method: 'patch',
                headers:{'Authorization': "Bearer "+accessToken},
                data: JSON.stringify({
                    "name" : name
                })
            }).done((data) => {
                alert(data);
                window.location.href = "/"
            })
        })

        $('#address-btn').on('click', () => {

            const address = $('#address').val();
            if(isEmpty(address)) {
                alert('주소 입력해 주세요.');
                $('#address').focus();
                return;
            }

            const postcode = $('#postcode').val();
            const detail = $('#detailAddress').val();
            let fullAddress = "";
            if (isEmpty(detail)) {
                fullAddress = address;
            } else {
                fullAddress = address + " " + detail;
            }
            $.ajax({
                url: "/api/v1/member/update/address",
                contentType: 'application/json; charset=utf-8',
                method: 'patch',
                headers:{'Authorization': "Bearer "+accessToken},
                data: JSON.stringify({
                    "address" : fullAddress,
                    "postCode" : postcode
                })
            }).done((data) => {
                alert(data);
                window.location.href = "/"
            })
        })

        $('#update-password-btn').on('click', () => {
            const current = $('#cu-password');
            const after = $("#update-password");
            const afterCheck = $('#update-password-check');

            if(isEmpty(current.val())) {
                alert('현재 비밀 번호를 입력하세요.')
                current.focus();
                return;
            }
            if(isEmpty(after.val())) {
                alert("변경하실 비밀번호를 입력하세요.")
                after.focus();
                return;
            }
            if(isEmpty(afterCheck.val())) {
                alert("변경 비밀번호를 한번 더 입력하세요.")
                afterCheck.focus();
                return;
            }

            if(after.val() !== afterCheck.val()) {
                alert('변경 하실 비밀번호가 일치하지 않습니다.')
                afterCheck.val("");
                afterCheck.focus();
                return;
            }

            $.ajax({
                url: "/api/v1/member/update/pw",
                contentType: 'application/json; charset=utf-8',
                method: 'patch',
                headers:{'Authorization': "Bearer "+accessToken},
                data: JSON.stringify({
                    "current" : current.val(),
                    "after" : after.val()
                })
            }).done((data) => {
                if(data.code === "200") {
                    alert(data.msg);
                    $.ajax({
                        url: "/api/v1/auth/logout",
                        method: "DELETE",
                        headers:{'Authorization': "Bearer "+accessToken},
                        xhrFields: { withCredentials: true },
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            "accessToken" : accessToken
                        })
                    }).done(() => {
                        window.location.href = "/"
                    })
                }else {
                    alert(data.msg);
                }
            }).fail(() => {
                alert("시스템 오류입니다. 관리자에게 문의해 주세요.")
            })

        })


        const element_wrap = document.getElementById('popup-wrap');
        const address_modal = document.getElementById('modal-address');
        $('#findPost').on('click', () => {
            // 현재 scroll 위치를 저장해놓는다.
            const currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            new daum.Postcode({
                oncomplete: function(data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }

                        // 조합된 참고항목을 해당 필드에 넣는다.
                        // document.getElementById("sample3_extraAddress").value = extraAddr;

                    } else {
                        // document.getElementById("sample3_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detailAddress").focus();

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_wrap.style.display = 'none';
                    address_modal.style.display = 'none';

                    // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                    document.body.scrollTop = currentScroll;
                },
                // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                onresize : function(size) {
                    element_wrap.style.height = size.height+'px';
                },
                width : '100%',
                height : '100%'
            }).embed(element_wrap);

            // iframe을 넣은 element를 보이게 한다.
            element_wrap.style.display = 'block';
            address_modal.style.display = 'block';
        })

        $('#name').on('change', function() {
            if(isEmpty($(this).val()) || $(this).val().length > 10) {
                $(this).val("")
                $('#validation-form').addClass('was-validated')
            }
        })
    </script>
</div>