<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/layout}"
      layout:fragment="Content">
<style>
    body {
        min-height: 100vh;

        background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
        background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
    }

    .input-form {
        max-width: 680px;

        margin-top: 80px;
        padding: 32px;

        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }

    .modal-address {
        display: none;
        position: fixed;
        z-index: 20000;
        left: 25%;
        width: 50%;
        padding: 20px;
        border: 1px solid #333;
        background-color: white;
        border-radius: 20px;
    }
    .popup-wrap {
        border: 1px solid #333;
    }

    input {
        margin: 2px;
    }

    @media screen and (max-width: 767px) {
        .modal-address-mobile {
            left: 5%;
            width: 90%;
        }
    }
</style>

<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form id="validation-form" class="validation-form" novalidate>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="name">이름 (최대 10자)</label>
                        <input type="text" class="form-control w-25" name="name" maxlength="10" id="name" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            이름을 입력해주세요.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">이메일 (ID로 사용 됩니다)</label>
                    <div id="email-group" style="display: flex">
                        <input type="email" class="form-control w-50" name="email" id="email" placeholder="you@example.com" required>
                        <div class="invalid-feedback">
                            이메일을 확인해주세요.
                        </div>
                        <span id="email-validate" style="color: red"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control w-50" name="password" id="password" placeholder="" required>
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password-check">비밀번호 확인</label>
                    <input type="password" class="form-control w-50" id="password-check" placeholder="" required>
                    <div class="invalid-feedback">
                        비밀번호가 일치하지 않습니다.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">주소</label>
                    <div style="display: flex">
                        <div  class="w-25">
                            <input type="text" id="postcode" placeholder="우편번호" name="postCode" class="form-control" required disabled>
                            <div class="invalid-feedback">
                                우편번호를 확인해 주세요.
                            </div>
                        </div>
                        <button id="findPost" type="button" class="btn btn-sm" style="border: 1px solid gray; margin-left: 5px">
                            우편번호 찾기
                        </button>
                    </div>
                    <div class="modal-address" id="modal-address" style="position:relative; width: 100%; left: -10px">
                        <div id="popup-wrap">
                            <!-- 우편번호 API가 띄워질 공간 -->
                        </div>
                    </div>
                    <input type="text" id="address" placeholder="주소" class="form-control col-xs-4" required disabled>
                    <div class="invalid-feedback">
                        주소를 확인해주세요.
                    </div>
                    <input type="text" id="detailAddress" placeholder="상세주소" class="form-control col-xs-4">
                    <input type="hidden" id="full-address" name="address">
                </div>

                <div id="phone-group" class="mb-3">
                    <label for="phone">휴대폰 번호</label>
                    <div style="display: flex">
                        <div class="w-25">
                            <input type="text" id="phone" name="phoneNumber" class="form-control" value="" style="text-align:center;" maxlength="13" placeholder="000-0000-00000" pattern="[0-1]{3}-[0-9]{4}-[0-9]{4}" required/>
                        </div>
                        <button id="authBtn" type="button" class="btn btn-sm" style="border: 1px solid gray; margin-left: 5px">전송</button>
                    </div>
                    <div style="display:flex;">
                        <input type="text" id="typingcode" class="form-control w-25" name="typingcode" value="" hidden="hidden" required>
                        <span id="time_count"></span>
                    </div>
                    <span id="phone-validate" style="color: red"></span>
                </div>

                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
                <div class="mb-4"></div>
                <button id="register" class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>
    <form id="register-form">
        <input type="hidden" id="register-name" name="name">
        <input type="hidden" id="register-password" name="password">
        <input type="hidden" id="register-email" name="email">
        <input type="hidden" id="register-phoneNumber" name="phoneNumber">
        <input type="hidden" id="register-postcode" name="postCode">
        <input type="hidden" id="register-address" name="address">

    </form>
    <footer class="my-3 text-center text-small">
    </footer>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

        $('button[type="submit"]').on('click', function (e) {
            e.preventDefault();
            const form = $('#validation-form')
            form.addClass('was-validated');
            if(!form.get(0).checkValidity()) {
                return;
            }
            const code = $('#typingcode').val();
            if(isEmpty(code)) {
                return;
            }
            $.post({
                url: "/api/v1/auth/code",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    "number": $("#phone").val(),
                    "code": code
                })
            }).done((e) => {
                if (e.code !== "200") {
                    alert(e.msg)
                    $('#typingcode').focus();
                    return;
                }

                const name = $('#name').val();
                const email = $('#email').val();
                const phone = $('#phone').val();
                const postcode = $('#postcode').val();
                const address = $('#address').val();
                const detail = $('#detailAddress').val();
                const password = $('#password').val();
                if (isEmpty(name) || isEmpty(email) || isEmpty(phone) || isEmpty(postcode) || isEmpty(address)) {
                    return;
                }

                if (name.length > 10) {
                    $('#name').focus()
                    return;
                }

                if (password !== $('#password-check').val()) {
                    return;
                }

                $('#register-name').val(name)
                $('#register-password').val(password)
                $('#register-email').val(email)
                $('#register-phoneNumber').val(phone)
                $('#register-postcode').val(postcode)
                if (isEmpty(detail)) {
                    $('#register-address').val(address)
                } else {
                    $('#register-address').val(address + " " + detail)
                }
                $('#register-form').attr('method', 'post').attr('action', '/member/register').submit();
            })

        })

        const element_wrap = document.getElementById('popup-wrap');
        const address_modal = document.getElementById('modal-address');
        $('#findPost').on('click', () => {
            // 현재 scroll 위치를 저장해놓는다.
            const currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            new daum.Postcode({
                oncomplete: function(data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }

                        // console.log(extraAddr);
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        // document.getElementById("sample3_extraAddress").value = extraAddr;

                    } else {
                        // document.getElementById("sample3_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detailAddress").focus();

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_wrap.style.display = 'none';
                    address_modal.style.display = 'none';

                    // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                    document.body.scrollTop = currentScroll;
                },
                // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                onresize : function(size) {
                    element_wrap.style.height = size.height+'px';
                },
                width : '100%',
                height : '100%'
            }).embed(element_wrap);

            // iframe을 넣은 element를 보이게 한다.
            element_wrap.style.display = 'block';
            address_modal.style.display = 'block';
        })

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("phone").addEventListener("keyup", function(event) {
                inputPhoneNumber(event);
            });
        });

        function inputPhoneNumber(event) {
            const phone = event.target;
            if( event.keyCode !== 8 ) {
                const regExp = new RegExp( /^[0-1]{3}-^[0-9]{4}-^[0-9]{4}/g );
                if( phone.value.replace( regExp, "").length !== 0 ) {
                    if( checkPhoneNumber( phone.value ) === true ) {
                        let number = phone.value.replace( /[^0-9]/g, "" );
                        let tel = "";
                        let seoul = 0;
                        if( number.substring( 0, 2 ).indexOf( "02" ) === 0 ) {
                            seoul = 1;
                            phone.setAttribute("maxlength", "12");
                            console.log( phone );
                        } else {
                            phone.setAttribute("maxlength", "13");
                        }
                        if( number.length < ( 4 - seoul) ) {
                            return number;
                        } else if( number.length < ( 7 - seoul ) ) {
                            tel += number.substr( 0, (3 - seoul ) );
                            tel += "-";
                            tel += number.substr( 3 - seoul );
                        } else if(number.length < ( 11 - seoul ) ) {
                            tel += number.substr( 0, ( 3 - seoul ) );
                            tel += "-";
                            tel += number.substr( ( 3 - seoul ), 3 );
                            tel += "-";
                            tel += number.substr( 6 - seoul );
                        } else {
                            tel += number.substr( 0, ( 3 - seoul ) );
                            tel += "-";
                            tel += number.substr( ( 3 - seoul), 4 );
                            tel += "-";
                            tel += number.substr( 7 - seoul );
                        }
                        phone.value = tel;
                    } else {
                        const regExp = new RegExp( /[^0-9|^-]*$/ );
                        phone.value = phone.value.replace(regExp, "");
                    }
                }
            }
        }

        function checkPhoneNumber( number ) {
            const regExp = new RegExp( /^[0-9|-]*$/ );
            if( regExp.test( number ) === true ) { return true; }
            else { return false; }
        }

        /*window.addEventListener('load', () => {
        }, false);*/


        $('#email').on('change', function() {
            const email =$(this).val();
            const regExp = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
            const form = $("#email-validate");
            if(!regExp.test(email)) {
                form.text("이메일 형식 확인해 주세요.")
                $(this).focus()
                return;
            }
            form.text("")

            $.get({
                url: "/api/v1/member/check/"+email
            }).done((data) => {
                form.text("사용중인 이메일 입니다.")
            }).fail((data) => {
                if(data.status === "400") {

                }
            })
        })

        $('#password-check').on('change', function() {

            if($('#password').val() !== $(this).val()) {
                $(this).val("")
                $('#validation-form').addClass('was-validated')
            }
        })

        $('#name').on('change', function() {
            if(isEmpty($(this).val()) || $(this).val().length > 10) {
                $(this).val("")
                $('#validation-form').addClass('was-validated')
            }
        })

        $('#authBtn').on('click', () => {

            const regExp = new RegExp( /[0-1]{3}-[0-9]{4}-[0-9]{4}/g );
            if( regExp.test( $("#phone").val() ) === false ) {
                $('#phone-validate').text("번호 형식을 확인해 주세요.")
                return;
            }
            $('#phone-validate').text("")

            $.post({
                url: "/api/v1/auth/phone",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ "number" : $('#phone').val() })
            }).done((data) => {
                if(data.code === "200") {
                    doTimer();
                } else {
                    alert(data.msg);
                }
            })
        })

        let intervalVar = undefined;
        let timeSecond = undefined;

        function doTimer() {	// 인증번호 전송 버튼을 클릭!
            const auth_btn = document.getElementById("authBtn");
            auth_btn.disabled = true;
            auth_btn.value = "재전송";	// 인증번호 전송 버튼 text가 '재전송'으로 바뀜.// 인증번호 입력란에 해당 임시코드가 노출된다.
            timeSecond = 180;	// 타이머 3분
            document.getElementById('time_count').innerText = getTimeString(timeSecond);	// 타이머 입력창에 시간이 노출된다.
            document.getElementById("typingcode").hidden = false;

            if (intervalVar != undefined) {
                clearInterval(intervalVar);
            }

            intervalVar = setInterval(function () {
                if (timeSecond != 0) {
                    timeSecond = timeSecond - 1;
                    document.getElementById('time_count').innerText = getTimeString(timeSecond);	// 0초가 아니라면 1초씩 감소 되면서 타이머 입력창에 보여진다.
                } else {
                    clearInterval(intervalVar);
                    intervalVar = false;	// 그 외 동작은 clearInterval 메소드로 인해 시간이 멈춘다.
                }
                if(timeSecond < 150) {
                    auth_btn.disabled = false;
                }

                if (timeSecond == -1 || intervalVar == false) {
                    document.getElementById('time_count').innerText = ""
                }
            }, 1000);	// 180초에서 1000ms초 간격으로 시간이 흐른다.
        }

        function getTimeString(second) {	// 타이머 계산법
            let minute = '' + (Math.floor(second / 60));	// 1분
            let dividedSec = second % 60;	//  60초
            if (dividedSec < 10) {	// 만약 10보다 작은 1~9초는 앞에 '0'을 붙인다.
                dividedSec = '0' + dividedSec;
            }
            // ex) 3:00 -> 3분
            return minute + ":" + dividedSec;
        }

        function doCodeCheck() {
            const typingCode = document.getElementById("typingcode").value;	// 입력코드 요소 셀렉팅
            if (typingCode == '') {
                alert('인증번호를 입력하세요.');
                return;
            }
            if (timeSecond == -1 || intervalVar == false) {
                alert('인증번호 유효시간이 초과하였습니다. 인증번호를 재전송 해주세요.');
            }	// 시간이 0초가 되어서 시간이 다된 상태에서 인증코드를 입력하게 된다면 위 안내문이 보여진다.
        }

    </script>
</div>