<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<!-- ======= Footer ======= -->
<style>
  .footer {
    font-size: 12px !important;
    padding: 10px;
  }
</style>
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span><h1 class="footer-text"><img th:inline="javascript" th:src="@{/assets/img/cherry/cherry-svgrepo-com.svg}"/>킹체리</h1></span>
        </a>
        <!--<p class="footer-text">체리 맛있어요 많이 사드세요</p>-->
        <div class="social-links d-flex mt-4">
          <!--<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
          <a href="https://www.instagram.com/kk_ing_cherry?igsh=d3JpYTlhdWZpeXR4" class="instagram"><i class="bi bi-instagram"></i></a>
          <!--<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>-->
        </div>
      </div>

      <div class="col-lg-1 col-6 footer-links">
      </div>

      <div class="col-lg-2 col-6 footer-links">
      </div>

      <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
        <h4 class="footer-text">Contact Us</h4>
        <p class="footer-text">
          호림영농조합법인<br>
          대표 : 민호식 | 전화 : 010-5099-1560 | 팩스 : 0303-3130-1288<br>
          주소 : 경상남도 산청군 단성면 양지길 20-2<br>
          통신판매업 신고 : 2024-경남산청-0050<br>
          사업자등록번호 : 611-81-21783 [<a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=6118121783">사업자정보확인</a>]<br>
        </p>
      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright footer-text">
      &copy; Copyright <strong><span>King Cherry</span></strong>. All Rights Reserved
    </div>
  </div>

</footer><!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script th:inline="javascript" th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:inline="javascript" th:src="@{/assets/vendor/aos/aos.js}"></script>
<script th:inline="javascript" th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:inline="javascript" th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:inline="javascript" th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:inline="javascript" th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:inline="javascript" th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:inline="javascript" th:src="@{/js/main.js}"></script>
</html>